#guppy {
    width: 100px;
    height: 100px;
    margin: 20px;
}

#fish_tank, #notebook, #vert, #explodingcat{
    display: none;
}
#peephole{
    margin: 20px;
    width: 300px; 
}

#cat {
    display: none;
    margin: 20px;
    width: 300px; 
    height: fit-content;
}

#catsmile {
    margin: 20px;
    width: 300px; 
    height: fit-content;
}

#shotgun {
    margin: 20px;
    width: 200px;
    pointer-events: none;
}

h3 {
   background-color: lightblue;
   padding: 20px;
   border: 20px;
   text-shadow: 20px;
   text-align: center;
   outline: 20px;
}

body {
    font-size: large;
}

.page1, .page2 {
    background-image: url(notebook-background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px;
    padding-left: 10%;
    margin: 30px;
    height: auto;
    border-radius: 3px;
    border-style: solid;
    border-color: black;
}

.ch2 {
    background-image: url(notebook-background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px;
    padding-left: 20%;
    margin: 30px;
    height: auto;
    border-radius: 3px;
    border-style: solid;
    border-color: black;
    display: none;
}

.ch1 {
    display: flex;
}

.fishtank {
    background-image: url(Insaniaquarium\ tank.webp);
    background-repeat: no-repeat;
    padding: 30px;
    margin: 30px;
    width: auto;
    height: 300px;

}

.decision {
    border-radius: 3px;
    border-style: solid;
    border-color: black;
}

details, button {cursor: pointer;}
strong { font-weight: bold;}