#guppy {
    width: 100px;
    height: 100px;
    margin: 20px;
}

#cat {
    margin: 20px;
    width: 200px; 
}

#fishgun {
    margin: 20px;
    width: 200px;
}

#vert{
    display: none;
}

#explodingcat {
    display: none;
}
h3 {
   background-color: lightblue;
   padding: 20px;
   border: 20px;
   text-shadow: 20px;
   text-align: center;
   outline: 20px;
}

body {
    font-size: large;
}

.GuppyCat {
    display: flex;   
}
.guppy {
    background-image: url(Insaniaquarium\ tank.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px;
    margin: 30px;
    display: flex;
}

.highlighted-text{
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: difference;
    padding: 10px;
    
}
.kitty {
    background-image: url(Background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px;
    margin: 30px;
    display: flex;
}

.ending {
    font-weight: 100;
}

.decision {
    border-radius: 3px;
    border-style: solid;
    border-color: black;
}

details {cursor: pointer;}
button {cursor: pointer;}
strong { font-weight: bold;}