#creature-form  {
    background: #abbabc;
    padding: 20px;
    margin: 50px;
}

#crName {
    display: flex;
    flex-direction: row;
    padding: 50px;
}

#crColor {
    background: pink;
    justify-content: center;
    align-items: center;
    display: flex;
}

#crEyesNum { 
    height: 18px; 
    width: 10px; 
    border: 2px solid #000; 
    border-radius: 10px; 
    background: #fff;
}

#crRandom
#add-creature
#creature-list
.creature-info
.creature-body
.creature
.eye