.creature-form  {
    background: #abbabc;
    padding: 20px;
    margin: 50px;
}

.creature-list {
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.creature-body {
    background: pink;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100px;
    height: 100px;
}

.eye { 
    height: 18px; 
    width: 10px; 
    border: 2px solid #000; 
    border-radius: 10px; 
    background: #fff;
}
